.App {
  text-align: center;
}

.products{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  text-align: center;
  padding: 5px;
  margin: 15px;
 }

.cards{
  width:250px;
  height:380px;;
}

.images{
  width:100px;
  height:170px;
  object-fit:fill;
}

.heading{
  text-align: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.phrase{
  text-align: center;
  justify-content: center;
  font-family: Courier;
  font-style: italic;
  font-weight: bold;
  
}

.top{
  background-color: rgb(2, 64, 2);
  color: white;
}

.footer{
  background-color: black;
  color: white;
  padding:10px;
  margin: 5px;
  text-align: center;
}

.cart{
  display: flex;
  justify-content: end;
  margin-right: 50px;
  background-color: none;
  gap: 10px;
}

.button{
  border-radius: 10px;
  font-weight: bold;
  font-family:'Courier New', Courier, monospace
}